/* Global Styles */

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    padding: 4% 0;
    color: #282828;
}

p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 4% 0;
    color: #808080;
}

span{
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    color: #676e67;
}

strong{
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    color: #676e67;
}
header{
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 998;
}

nav{
    display: inline-block;
    position: relative;
    float: right;
    right: 20%;
    padding-top: 5px;
}

nav a{
    padding: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
}

svg{
    position: relative;
    top:30%;
    left: 30%;
    color: #848884;
}

/* Home Section */

.home-section{
    background-image: url(img/bg.jpeg);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-section:before{
    content: '';
    position: absolute;
    height: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #33333321;
}

.right-container{
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(243,243,243,0.9);
    float: right;
    z-index: 997;

}

.right-container .text-container{
    position: relative;
    top:10%;
    padding: 0 10%;
}

.social-icons{
    position: relative;
    width: 200px;
    top: 20%;
    left: 10%;
}

.social-icons a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.social-icons a:hover{
    background: #dee0de;
    color: white;
}

/* Competence Section */

.text-container{
    position: relative;
    top:20%;
    padding: 0 10%;
}

.skills-section{
    width: 100%;
    height: 350px;
}

.skill{
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
    height: 350px;
}

.html5{
    background: #343436;

}

.css3{
    background: #403f3f ;
}

.js{
    background: #595f58 ;
}

.cms{
    background: #fff ;
}

.card-circle{
    position: relative;
    display: flex;
    top: 15%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 1px solid #676e67;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.card-circle svg{
    top:0;
    left: 0;
}


.cms .card-circle svg {
    color: #676e67;
}

.skill-text{
    text-align: center;
    color: #848884;
}

p.progress-bar-percent{
    position: relative;
    right: 6px;
    color: #848884;
    text-align: center;
}

.progress-bar-icon{
    position: relative;
    top: 38px;
    left: 23%;
}

.progress-bar-container{
    position: relative;
    top: 15%;
    height: 6px;
    width: 180px;
    margin: 0 auto;
}

.progress-bar{
    height: 6px;
    width: 100%;
    background: #e3e3e3;
}

.progress-bar-full-html5{
    height: 6px;
    width: 97%;
    background: #6f625b;
    animation:html5 2s ease-out;
}

.progress-bar-full-css3{
    height: 6px;
    width: 89%;
    background: #6f625b;
    animation:css3 2s ease-out;
}

.progress-bar-full-js{
    height: 6px;
    width: 60%;
    background: #6f625b;
    animation:js 2s ease-out;
}

.progress-bar-full-wordpress{
    height: 4px;
    width: 76%;
    background: #6f625b;
    animation:wordpress 2s ease-out;
}

.progress-bar-full-joomla{
    height: 4px;
    width: 69%;
    background: #6f625b;
    animation:joomla 2s ease-out;
}

.progress-bar-full-fuelcms{
    height: 4px;
    width: 84%;
    background: #6f625b;
    animation:fuelcms 2s ease-out;
}

@keyframes html5 {
    0%  { width:0px;}
    100%{ width:97%;}
}

@keyframes css3 {
    0%  { width:0px;}
    100%{ width:89%;}
}

@keyframes js {
    0%  { width:0px;}
    100%{ width:60%;}
}

@keyframes joomla {
    0%  { width:0px;}
    100%{ width:78%;}
}

@keyframes wordpress {
    0%  { width:0px;}
    100%{ width:76%;}
}

@keyframes joomla {
    0%  { width:0px;}
    100%{ width:69%;}
}

@keyframes fuelcms {
    0%  { width:0px;}
    100%{ width:84%;}
}

/* CMS Skills Styles */

.skill-container{
    position: relative;
    top: 20%;
    width: 180px;
    height: 50px;
    margin: 0 auto;
}

.text-container-skills{
    display: inline-block;
}

.text-container-skills p{
    font-size: 14px;
    padding: 0;
}

.text-container-skills.percent{
    position: relative;
    left: 40%;
    font-weight: bold;
}

.progress-bar-container.cms{
    height: 4px;
    top: 5%;
}

.progress-bar.cms{
    height: 4px;
}

.progress-bar-icon.cms{
    top: 3px;
    left: 7%;

}


/*///////////////////*/


.grid {
    position: relative;
    margin: 0 auto;
}

.js .grid::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
    background-size: 60px auto;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.js .grid--loaded::after {
    opacity: 0;
}

.grid__item {
    width: 450px;
    padding: 10px;
}

.grid__item--current {
    opacity: 0 !important;
}

.img-wrap {
    display: block;
}

.img-wrap:focus,
.img-wrap:hover {
    outline: none;
}

.img-wrap img {
    display: block;
    max-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.preview {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.preview::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #1f1d1d;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.preview--open {
    pointer-events: auto;
}

.preview--open::before {
    opacity: 1;
}

.clone {
    position: fixed;
    z-index: 110;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-backface-visibility: hidden;
}

.original {
    position: relative;
    z-index: 120;
    display: block;
    object-fit: contain;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-backface-visibility: hidden;
}

.preview--open .animate {
    /* open */
    -webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
    transition: transform 0.6s, opacity 0.2s;
}

.animate {
    /* close */
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.description {
    color: #fff;
}

.description--grid {
    display: none;
}

.description--preview {
    font-size: 2em;
    position: absolute;
    z-index: 140;
    width: 90%;
    left: 100%;
    top: 0;
    height: 100%;
    padding: 0 1em;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.description--preview h3 {
    font-weight: normal;
    margin: 0;
}

.description--preview p {
    font-size: 0.65em;
    max-width: 100%;
}

.description--preview p em {
    color: #5D5D5D;
    display: block;
    padding: 0.4em 0 0 0;
}


/* Details */

.details {
    max-width: 100%;
    /* IE 10-11 bug flexbox */
}

.details ul {
    line-height: 1;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.details ul li {
    font-size: 0.5em;
    position: relative;
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0.15em 0;
    white-space: nowrap;
    opacity: 0;
    color: #9d9d9d;
    -webkit-transition: -webkit-transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

.preview--open .details ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.preview--open .details ul li:nth-child(1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.preview--open .details ul li:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.preview--open .details ul li:nth-child(3) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.preview--open .details ul li:nth-child(4) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.preview--open .details ul li:nth-child(5) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.details ul li:first-child {
    font-weight: bold;
    color: #909090;
}

.details svg {
    margin-right: 5px;
    color: #77d45b;
    left: 0;
}


/* Close button */

.action {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
    color: #6bd68a;
    border: none;
    background: none;
}

.action:hover,
.action:focus {
    color: #6bd68a;
    outline: none;
}

.action--close {
    position: fixed;
    z-index: 150;
    top: 0;
    right: 0;
    padding: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.text-hidden {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    color: transparent;
}

@media screen and (max-width: 40em) {
    .description--preview h3 {
        font-size: 0.5em;
    }
    .description--preview p,
    .details {
        display: none;
    }
}

.content {
    padding: 1em 0 3em;
    margin: 0 auto;
}

/* Portfolio Section */

.portfolio-section{
    background: #f4f4f4;
}

.text-container.portfolio h1{
    padding-top: 4%;
    padding-bottom: 0;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Pinyon Script', cursive;

}

.caption{
    background: #565656bf;
    position: absolute;
    width: 96%;
    height: 93%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.caption:hover{
    opacity: 1;
}

.caption-content{
    position: relative;
    display: flex;
    top: 40%;
    width: 120px;
    height: 50px;
    margin: 0 auto;
}

.caption-content svg{
    color: #bbbbbbbd;
}

a.img-wrap{
    text-decoration: none;
    color: white;
}

/* Ipad Pro */

@media only screen and (max-width: 1024px) {

    .home-section {
        height: 50%;
    }

    .home-section:before {
        height: 50%;
    }

    .right-container {
        width: 100%;
    }

    .right-container .text-container {
        top: 7%;
    }

    .right-container .text-container span{
        font-size: 28px;
    }
    h1{
        font-size: 50px;
    }

    strong{
        font-size: 35px;
    }

    p{
        font-size: 28px;
    }

    .social-icons {
        top: 7%;
    }

    .progress-bar-icon {
        top: 39px;
        left: 24%;
    }

    .skills-section {
        height: 800px;
    }

    .skill {
        width: 50%;
        height: 400px;
    }

    .skill-container {
        width: 280px;
        height: 60px;
    }

    .text-container-skills p {
        font-size: 28px;
    }

    .progress-bar-container {
        width: 280px;
    }

    .progress-bar-container-cms {
        height: 8px;
    }

    .progress-bar.cms {
        height: 8px;
    }

    .progress-bar-full-wordpress {
        height: 8px;
    }

    .progress-bar-full-joomla {
        height: 8px;
    }

    .progress-bar-full-fuelcms {
        height: 8px;
    }

    .progress-bar-icon.cms svg {
        font-size: 36px;
    }

    .progress-bar-icon.cms {
        top: 5px;
        left: 8%;
    }

}

/* Most Tablets */
@media only screen and (max-width: 800px) {

    .home-section{
        height: 80%;
    }

    .right-container{
        width: 100%;
    }

    .right-container .text-container span{
        font-size: 30px;
    }
    h1{
        font-size: 35px;
    }

    strong{
        font-size: 32px;
    }

    p{
        font-size: 30px;
    }

    .social-icons{
        top:11%;
    }

    .skills-section{
        height: 2000px;
    }

    .skill{
        width: 100%;
    }

    .skill-container {
        height: 80px;
        width: 350px;
    }

    .text-container-skills p {
        font-size: 25px;
    }

    .progress-bar-icon.cms {
        left: 10%;
        top: 5px;
    }

    .progress-bar-icon.cms svg{
        font-size: 36px;
    }

    .progress-bar-container {
        width: 350px;
    }

    .progress-bar-container.cms {
        height: 10px;
        top: 15%;
    }

    .progress-bar.cms{
        height: 10px;
    }

    .progress-bar-full-wordpress {
        height: 10px;
    }

    .progress-bar-full-joomla {
        height: 10px;
    }

    .progress-bar-full-fuelcms {
        height: 10px;
    }

    p.progress-bar-percent{
        padding: 5% 0;
    }

    .progress-bar-icon svg{
        font-size: 20px;
    }

    .text-container.portfolio h1{
        padding-top: 10%;
    }

    .grid__item{
        width: 300px;
    }

    .skill {
        height: 500px;
    }


}

/* Iphone 6,7,8 plus */
@media only screen and (max-width: 414px) {

    .home-section{
        height: 80%;
    }

    .right-container{
        width: 100%;
    }

    .right-container .text-container span{
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }

    strong{
        font-size: 20px;
    }

    p{
        font-size: 18px;
    }

    .social-icons{
        top:11%;
    }

    .social-icons a{
        width: 35px;
        height: 35px;
    }

    .skills-section{
        height: 1400px;
    }

    svg{
        top: 20%;
        left: 23%;
    }

    .skill{
        width: 100%;
    }

    p.progress-bar-percent{
        padding: 10% 0;
    }

    .progress-bar-icon{
        top: 19px;
        left: 29%;
    }
    .progress-bar-icon svg{
        font-size: 13px;
    }

    .progress-bar-icon.cms{
        left: 15%;
    }

    .progress-bar-icon.cms svg{
        font-size: 21px;
    }

    .text-container.portfolio h1{
        padding-top: 10%;
    }

    .grid__item{
        width: 300px;
    }


}

/* Most Android Phones & Iphone 6,7,8 */
@media only screen and (max-width: 375px) {

    .home-section{
        height: 80%;
    }

    .right-container{
        width: 100%;
    }

    .right-container .text-container span{
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }

    strong{
        font-size: 19px;
    }

    p{
        font-size: 15px;
    }

    .social-icons{
        top:11%;
    }

    .social-icons a{
        width: 35px;
        height: 35px;
    }

    .skills-section{
        height: 1400px;
    }

    svg{
        top: 20%;
        left: 23%;
    }

    .skill{
        width: 100%;
    }

    p.progress-bar-percent{
        padding: 10% 0;
    }

    .progress-bar-icon{
        top: 57px;
        left: 29%;
    }
    .progress-bar-icon svg{
        font-size: 10px;
    }

    .progress-bar-icon.cms{
        left: 15%;
    }

    .progress-bar-icon.cms svg{
        font-size: 21px;
    }

    .text-container.portfolio h1{
        padding-top: 10%;
    }

    .grid__item{
        width: 300px;
    }

    .progress-bar-container {
        width: 280px;
    }


}

@media only screen and (max-width: 320px) {
    .home-section{
        height: 90%;
    }
    .right-container{
        width: 100%;
    }

    .right-container .text-container span{
        font-size: 14px;
    }

    h1{
        font-size: 25px;
    }

    strong{
        font-size: 16px;
    }

    p{
        font-size: 13px;
    }

    .social-icons{
        top:11%;
    }

    .social-icons a{
        width: 35px;
        height: 35px;
    }

    .skills-section{
        height: 1400px;
    }

    svg{
        top: 20%;
        left: 23%;
    }

    .skill{
        width: 100%;
    }

    p.progress-bar-percent{
        padding: 10% 0;
    }

    .progress-bar-icon{
        top: 30px;
        left: 29%;
    }
    .progress-bar-icon svg{
        font-size: 10px;
    }

    .progress-bar-icon.cms{
        left: 15%;
    }

    .progress-bar-icon.cms svg{
        font-size: 21px;
    }

    .text-container.portfolio h1{
        padding-top: 10%;
    }

    .grid__item{
        width: 300px;
    }
}






















